*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body{
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao{
    position: fixed;
    background-color: rgba(15, 23, 42, 0.8);
    width: 100%;
    padding: 1.5rem;
    z-index: 2;
    top: 0;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after{
    content: '';
    width: 0;
    height: 2px;
    background-image: linear-gradient(35deg, #4f46e5, #7c3aed);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out;
}

.menu-link:hover::after{
    width: 100%;
}

.foto-perfil{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 4px solid var(--vidro);
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    animation: futuar 5s ease-in-out infinite;
}

.hero{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

h1{
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.hero-paragrafo{
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre{
    padding: 6rem 2rem;

}


.sobre-titulo{
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 2rem;
}

.sobre-caixa{
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    
}

.sobre-paragrafo{
    text-align: center;
    font-size: 1.1rem;
    
}

.projeto{
    padding: 6rem 2rem;
}
.projeto-titulo{
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 2rem;
}


.projeto-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projeto-card{
    border: 1px solid var(--vidro);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.projeto-card:hover{
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    transform: translateY(-10px) scale(1.03);
}
.projeto-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.caixa-texto-projetos{
    padding: 1.5rem;
}
.projeto-item-titulo{
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
    margin-bottom: 5px;
}


.contato{
    padding: 6rem 2rem;
}
.contato-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.formulario-contato{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid var(--vidro);
    padding: 2rem;

}

.grupo-form{
    margin-bottom: 1.5em;
}
.campo-form{
    width: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: 1px solid var(--vidro);
    outline: none;
    color: var(--claro);
    
}

.campo-form:focus{
    border-color: var(--primaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.button-form{
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.button-form:hover{
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
    transform: translateY(-4px);
}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
        var(--escuro);
}

@keyframes futuar{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
   
}
